.paymentpackage {
  border: 2px solid;
  border-radius: 50px;
  box-shadow: 5px;
  border-color: #1ebeb8;
  color: #75117a;
}
.CardWork {
  gap: 40px;
  justify-content: space-between;
}
.Cardpicture {
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-color: #1ebeb8;
}
