@use "../Button/website/actionBtn/homeandAboutBtn";

.homeHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 80vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
}

.homeHeroBg {
  background: url(/src/assets/images/hero/homeheronew.png);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 80vh;
  width: 100%;
}

.homeHeroBg h2 {
  position: relative;
  line-height: 45px;
}
.homeHeroBg h3 {
  position: relative;
  line-height: 35px;
}

.dd {
  display: flex;
  align-items: center !important;
}

//responsiveness
@media only screen and (max-width: 990px) {
  .homeHeroBg {
    height: 22.5rem;
  }
}
