* {
  box-sizing: border-box;
  font-family: "Karla", Rubik;
}

body {
  margin: 0;
  padding: 0 !important;
  overflow: visible !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #75117a;
  color: #75117a;
}

h5 {
  font-weight: 300;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
  font-family: "Raleway", sans-serif;
}

.homeHeroBgg::before {
  content: "";
  position: absolute;
  height: 70vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.homeHeroBg {
  background: url(/src/assets/images/hero/homehero.png);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 80vh;
  width: 100%;
}

.homeHeroBg h2 {
  line-height: 45px;
}

.homeHeroBg h3 {
  line-height: 35px;
}

.dd {
  display: flex;
  align-items: center !important;
}

@media only screen and (max-width: 990px) {
  .homeHeroBg {
    height: 22.5rem;
  }
}
.NextBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 7.5rem;
}

.BackBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 7.5rem;
}

.SuscribeBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 8rem;
}

.SubmitBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 7.5rem;
}

.RegisterNowBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 9.5rem;
}

.teamCard {
  border-radius: 50px;
}

.navbarBg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navTextColor,
.nav-link {
  color: #75117a;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.justifyNavItemsEnd {
  justify-content: end !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.displayFlex {
  display: block;
}

.navContainerWidth {
  width: 14rem !important;
}

.createAccountBgOne {
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(209, 93, 219, 0.14) -60.79deg,
    rgba(28, 150, 233, 0.06) 89.87deg,
    rgba(209, 93, 219, 0.14) 299.21deg,
    rgba(28, 150, 233, 0.06) 449.87deg
  );
}

.createAccountBgTwo {
  background: rgba(255, 231, 255, 0.3);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

h5 {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
  font-family: "Raleway", sans-serif;
}

.backToActivity {
  width: 15rem;
  background: #c4c4c4;
  height: 2.7rem;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-weight: 600;
  color: #ffffff;
  border-radius: 10px;
}

.undo {
  width: 15rem;
  background: #75117a;
  height: 2.7rem;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-weight: 600;
  color: #ffffff;
  border-color: #75117a;
  border-radius: 10px;
  word-spacing: 2px;
}

.undo:hover {
  background: #75117a;
  color: #ffffff;
}

.add {
  width: 4rem;
  background: #75117a;
  height: 2.7rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  border-color: #75117a;
  border-radius: 10px;
  word-spacing: 2px;
}

.add:hover {
  background-color: #75117a;
  color: #ffffff;
}

.UploadBestPhoto {
  width: 15rem;
  background: #75117a;
  height: 2.7rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  border-color: #75117a;
  border-radius: 10px;
  word-spacing: 2px;
}

.UploadBestPhoto:hover {
  background-color: #75117a;
  color: #ffffff;
}

.BackToApplication {
  width: 15rem;
  background: #75117a;
  height: 2.7rem;
  font-size: 1 rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  border-color: #75117a;
  border-radius: 10px;
  word-spacing: 2px;
}

.BackToApplication:hover {
  background-color: #75117a;
  color: #ffffff;
}

.StartUpload {
  width: 15rem;
  background: #75117a;
  height: 2.7rem;
  font-size: 1 rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  border-color: #75117a;
  border-radius: 10px;
  word-spacing: 2px;
}

.StartUpload:hover {
  background-color: #75117a;
  color: #ffffff;
}

.Abort {
  width: 6rem;
  height: 2.7rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #75117a;
  border-color: #75117a;
  border-radius: 10px;
  word-spacing: 2px;
}

.Abort:hover {
  color: #75117a;
  border-radius: 2px;
}

.Done {
  width: 6rem;
  background: #75117a;
  height: 2.7rem;
  font-size: -2rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  border-color: #75117a;
  border-radius: 10px;
  word-spacing: 2px;
}

.Done:hover {
  background-color: #75117a;
  color: #ffffff;
}

.Cardpic {
  border-radius: 25rem;
  height: 10rem;
}

.paymentpackage {
  border: 2px solid;
  border-radius: 50px;
  box-shadow: 5px;
  border-color: #1ebeb8;
  color: #75117a;
}

.CardWork {
  gap: 40px;
  justify-content: space-between;
}

.Cardpicture {
  border-top-left-radius: 47px;
  border-top-right-radius: 47px;
  border-bottom-color: #1ebeb8;
}

.blogImage {
  border-radius: 50px;
}

.blogcard {
  height: auto;
  border-style: hidden;
  color: #75117a;
}

.Gallerypics {
  border-radius: 50px;
}

.Gallerycard {
  border-radius: 50px;
  border-style: hidden;
} /*# sourceMappingURL=styles.css.map */
