* {
  box-sizing: border-box;
  font-family: "Karla", Rubik;
}

body {
  margin: 0;
  padding: 0 !important;
  overflow: visible !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #75117a;
  color: #75117a;
}

h5 {
  font-weight: 300;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: #75117a;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
  font-family: "Raleway", sans-serif;
}

.GetAFacilitatorBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 10.5rem;
}

.LearnMoreBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 8rem;
}

.JoinOurTeamBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 9.2rem;
}

.homeHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 80vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
}

.homeHeroBg {
  background: url(/src/assets/images/hero/homeheronew.png);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 80vh;
  width: 100%;
}

.homeHeroBg h2 {
  position: relative;
  line-height: 45px;
}

.homeHeroBg h3 {
  position: relative;
  line-height: 35px;
}

.dd {
  display: flex;
  align-items: center !important;
}

@media only screen and (max-width: 990px) {
  .homeHeroBg {
    height: 22.5rem;
  }
}
.NextBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 7.5rem;
}

.BackBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 7.5rem;
}

.SuscribeBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 8rem;
}

.SubmitBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 7.5rem;
}

.RegisterNowBtn {
  background-color: #75117a;
  color: #ffffff;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  border-radius: 10px;
  height: 2.7rem;
  width: 10.5rem;
  font-weight: 600;
  border: none;
  width: 9.5rem;
}

.teamCard {
  border-radius: 50px;
}

.navbarBg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navTextColor,
.nav-link {
  color: #75117a;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.justifyNavItemsEnd {
  justify-content: end !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.displayFlex {
  display: block;
}

.navContainerWidth {
  width: 14rem !important;
}

.createAccountBgOne {
  background: conic-gradient(from 180deg at 50% 50%, rgba(209, 93, 219, 0.14) -60.79deg, rgba(28, 150, 233, 0.06) 89.87deg, rgba(209, 93, 219, 0.14) 299.21deg, rgba(28, 150, 233, 0.06) 449.87deg);
}

.createAccountBgTwo {
  background: rgba(255, 231, 255, 0.3);
}

.fontStyle {
  font-size: 1.2rem;
  font-weight: 300;
  color: #75117a !important;
}

.aboutHeroBg {
  background: conic-gradient(from 180deg at 50% 50%, rgba(209, 93, 219, 0.14) -60.79deg, rgba(28, 150, 233, 0.06) 89.87deg, rgba(209, 93, 219, 0.14) 299.21deg, rgba(28, 150, 233, 0.06) 449.87deg);
  border-radius: 0px 0px 200px 0px;
}

.bgColor {
  background: conic-gradient(from 180deg at 50% 50%, rgba(28, 150, 233, 0.7) -25.05deg, rgba(208, 93, 219, 0.7) 37.8deg, rgba(28, 150, 233, 0.7) 334.95deg, rgba(208, 93, 219, 0.7) 397.8deg);
}

.galleryBg {
  background: url(/src/assets/images/hero/gallerybg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.galleryCard {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 10rem;
}
/*# sourceMappingURL=styles.css.map */