@use "../../colors" as *;
.dashboardbg {
  border-width: 30rem;
  border-color: aqua;
}

.sidebar {
  width: 150px;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}
// .sidebar {
//   position: fixed;
//   top: 56px;
//   left: 0;
//   width: 250px;
//   height: 100%;
//   padding: 20px;
//   background-color: #bc4c92;
//
// }

// .sidebar.show {
//   left: 0;
// }

// .sidebar.hide {
//   left: -250px;
// }

// @media (min-width: 992px) {
//   .sidebar {
//     display: none;
//   }
// }
